<h2 class="left">TMDB Key:</h2>

<h3 class="left"><%= ENV["TMDB_KEY"] %></h3>



<div id="game-space" class="container">
  <form id="start-game" class="left" method="POST" action="/games">
  <input type="submit" value="Start Game">
</form>
</div>



